form {
    /* border: 2px solid rgb(0, 255, 68); */
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 2vw;
}

.frm-holder {
    box-shadow: 0px 0px 5px gray;
    width: 60%;
    height: min-content;
    padding: 1vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.profile {
    /* border: 1px solid black; */
    width: 50%;
    padding: .2vw;
    border-radius: 5px;
    font-size: 1.2vw;
    /* padding: 0; */
    /* text-align: center; */
}

.fileupload {
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    border: 1px solid gray;
    /* margin-top: -1vw; */
    margin-left: 4vw;

}

label {
    display: block;
    width: 100%;
    font-size: 1.3vw;
}

.input-gup {
    /* display: block; */
    width: 150%;
    margin: 1vw;
    /* border: 1px solid rgb(238, 255, 0); */
}

input[type="radio"]{
    margin: -7vw;
   
}

.right {
    width: 50%;
    padding: .2vw;
    border-radius: 5px;
    font-size: 1.2vw;
    /* border: 1px solid red; */
}

input,
textarea {
    width: 50%;
    padding: .2vw;
    border-radius: 5px;
    font-size: 1.2vw;
    border: 1px solid gray;
}

.btn {
    width: 17vw;
    padding: 1vw;
    display: block;
    /* margin: auto; */
    border-radius: 50px;
    border: none;
    font-size: 1.3vw;
    background-color: #7676FA;
    color: whitesmoke;
    cursor: pointer;
}

.btn-holder {
    display: block;
    width: 100%;
}

.center {
    text-align: center;
}


/*small Device*/
@media screen and (max-width:600px) {
    .fileupload {
        width: 7vw;
        height: 7vh;
        /* margin-top: -50vw; */
        margin-left: 5vw;
    }
}

/*Normal Device*/
@media screen and (min-width:601px) and (max-width:768px) {
    .fileupload {
        width: 8vw;
        height: 8vh;
        /* margin-top: -5vw; */

    }
}

/*Tablets Device*/
@media screen and (min-width:769px) and (max-width:992px) {

    .fileupload {
        width: 10vw;
        height: 10vh;
        margin-top: -5vw;

    }


}


/*Large Device*/
@media screen and (min-width:993px) and (max-width:1250px) {

    .input,
    textarea {
        padding: .3vw;
        font-size: 1.2vw;
    }

    .btn {
        padding: 1vw;
        font-size: 1.2vw;
    }
}