
.user-info-card{
    height: 200px;
    width: 400px;
    margin:4vh 1.2vw;
    overflow: hidden;
    border-radius: 4px;
    background: white;
    color: black;
     box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.user-card-top{
    height: 120px;
    width: 100%;
    display: flex;
    padding:1vh 1vw;
}

.usercard-image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.usercard-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.card-user-info{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left:9px ;
}

.user-card-name{
    font-size: 1.4em;
}

.user-card-username{
    font-size: 0.6em;
    color: gray;
    line-height: 1;
}