
.user-info-card{
    height: 200px;
    width: 400px;
    background-color: red;
    margin:4vh 1.2vw;
}

.user-card-top{
    height: 120px;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
}

.usercard-image{
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
}

.usercard-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.card-user-info{
    width: calc(100% - 80px);
    height: 100%;
    background-color: blue  ;
    display: flex;
    flex-direction: column;
}