
.pop-body{
    height: 50vh;
    width:50vw;
    background-color: #9d9b9bb0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    gap: 15px;
}
.seting-in{
    height: 7vh;
    width:25vw;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0 2vw;
    border-bottom: 4px solid #69b8f9f6;
    font-size: 1em;
}

.chng-note{
    margin-top: 10px;
}