@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.img1{
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-top: 10px; 
}
.container{
    height:40rem;
    width:90rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    margin-left:70px; 
    margin-bottom: 30px;
}
.job-container{
  height: 380px;
  overflow-y: scroll;
 
}
.verticalliness{
 width: 1px;
 height: 640px;
 background-color: black;
 left: 23%;
 top: 7%;
 position: absolute;
  }
  .head4{
    margin-left: 310px;
    bottom:450px ;
    font-size: 20px;
    color: black;
  }
.username{
 margin-left:90px;
 font-size: 40px;
 color: black;
 font-family: "Poppins", sans-serif;
 margin-top: 40px;
 position: absolute;
}
.useremail{
  margin-left:90px;
  margin-top: 100px;
  font-size: 20px;
  color:black;
  font-family: "Poppins", sans-serif;
  position: absolute;
}
.jobrole{
  margin-left: 90px;
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
  font-size: 20px;
  position: absolute;
}
.img0{
   height: 30px;
   margin-left: 30px;
   margin-top: 20px;
  
}
.img2{
  height: 30px;
  margin-left: 30px;
  margin-top: 20px;
  
}
.img3{
  height: 30px;
  margin-left: 30px;
  margin-top: 20px;
}
.img5{
  height: 35px;
  margin-left: 30px;
  margin-top: 20px;
}
.socialmedia{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



@media only screen and (max-width: 500px) {

  .img1 {
    height: 120px;
    width: 120px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .container {
    height: 35rem;
    width: 410px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    overflow-y: scroll;
  }

  .job-container {
    height: 300px;
    overflow-y: scroll;
  }

  .verticalliness {
    visibility: hidden; 
  }

  .head4 {
    margin-left: 10px;
    font-size: 16px;
    margin-top: 60px;
  }

  .username {
    margin-left: 10px;
    font-size: 20px;
  }

  .useremail {
    margin-left: 10px;
    margin-top: 75px;
    font-size: 16px;
    
  }

  .jobrole {
    margin-left: 10px;
    margin-top: 110px;
    font-size: 16px;

  }

  .img0, .img2, .img3, .img5 {
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .socialmedia {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

}
