/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.main {
    width: 100%;
    /* border: 3px solid red; */
    height: 100vh;
    background-color: whitesmoke;
    /* margin: 1vw; */
}

.frm-heading {
    width: 38%;
    /* margin: auto; */
    margin-left: 26vw;
    /* margin-top: .5vw; */
    /* border: 1px solid red; */
}

.liner-text {
    font-size: 2.7vw;
    font-weight: 700;
    /* border: 1px solid yellow; */
    margin-bottom: .2vw;
}

.sub-heading {
    font-size: 1.2vw;
}

.form {
    /* width: 100%; */
    margin-bottom: 1vw;
    /* border: 2px solid rgb(162, 255, 0); */
}