*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    /* border: 3px solid red; */
    height: 100vh;
    background-color: whitesmoke;
}

.heading{
    width: 38%;
    /* margin: auto; */
    margin-left: 26vw;
    margin-top: .5vw;
    /* border: 1px solid red; */
}

.main-heading{
    font-size: 2.7vw;
    font-weight: 700;
    /* border: 1px solid yellow; */
    margin-bottom: .2vw;
}

.sub-heading{
    font-size: 1.2vw;
}