/* Footer.css */

.footer {
  background-color: #7676FA;
  color: #ecf0f1;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0;
}

.about-us {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.logo img {
  width: 150px; 
}

.footer-text {
  margin: 10px 0;
  line-height: 1.5;
}

.footer-column {
  flex: 1 1 200px; /* Maintain a minimum width for each column */
  margin-bottom: 20px;
  min-width: 180px; /* Ensure minimum width for better alignment */
}

.footer-heading {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.address,
.phone,
.email {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-link {
  color: #ecf0f1;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.footer-links li {
  margin: 5px 0;
}

.footer-social-media {
  display: flex;
}

.footer-social-media a {
  margin-right: 15px;
  color: #ecf0f1;
  font-size: 24px; /* Adjust icon size */
}

.footer-social-media a:hover {
  color: #3498db; /* Change color on hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-copyright {
  margin: 10px 0;
}

.footer-legal {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.footer-legal li {
  margin: 0 10px;
}
