.dtl-container{
    border: none;
    box-shadow: 0 0 10px 0;
    margin: 40px 180px 40px 200px;
    border-radius: 10px;
    display: flex;
    padding: 30px;
}

.recr-profile-heading{
    text-align: center;
}

.recruiter-profile-img{
    height: 200px;
}

.recruiter-profile-details{
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between !important;
    padding-left: 5%;
}

.prfle-name{
    text-align: center;
    color: #7d19f8;
    font-size: 20px;
}

/* .dtls-left{
    margin: 0 50px;
}
.dtls-right{
    margin: 0 80px;
} */
.dtls-right{
    margin-left: 120px;
}


.dtls{
    margin: 30px 0;
}

.lnkdintxt{
    text-decoration: none;
    color: black;
}
.no-data{
    margin-top: 20%;
}

@media screen and (max-width:500px) {
    .dtl-container{
        display: flex;
        flex-direction: column;
        margin: 40px 20px 40px 20px;
    }
    .p-img-cont{
        text-align: center;
    }
    .recruiter-profile-details{
        font-size: 15px;
    }
    .dtls-right{
        margin-left: 10%;
    }
}