.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-around;
}
a{
    cursor: pointer;
}
.newscard {
    width: 400px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px #9f9ffa;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9; 
    margin: 10px;
  }
  .cardimg {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px; }
  .title {
    color: black;
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
    font-weight: bold; 
  }
  .caption {
    color: black;
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
  }
  