
.discover-button{
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #9f9ffa;
    height: 18px;
    border:none;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 2px;

}
.discover-button:hover{
  border-radius: 5px;
  background-color: #2a2acc;
}
.newscard {
    width: 380px;
    height: 380px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9; 
    margin: 15px;
    border: 1px solid  rgb(197, 197, 197);
  }
  .newscard:hover{
    box-shadow: 4px 2px 7px 7px #9f9ffa;
    border-radius: 12px;
  }
  .cardimg {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 4px;
    margin-bottom: 0px;}
  .title {
    color: black;
    font-size: 1.3rem;
    margin-top: 5px;
    margin: 15px;
    text-align: start;
    font-weight: bold; 
  }
  .caption {
    color: black;
    font-size: 17px;
    margin: 5px;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .trend-card{
    height: fit-content;
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .add-info{
    margin: 10px;
  }
  .icont{
    height: 50px;
    margin: 5px;
    width: 100px;
    display: block;
    margin: 3px auto;
  }
  .trendhead{
    margin: 2px;
    font-family:sans-serif;
    margin-top: 10px;
    text-align: center;
  }