.main{
    background-color: white;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 16px;
}

.content {
    margin-top: 70px;
    margin-left: 90px;
}

.content h1 {
    font-size: 50px;
}

.content h4 {
    font-size: 25px;
}

.content button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #00246b;
    color: #fff;
    margin: 10px;
}

.content button:hover {
    background-color: #0036b1;
}

.content-image img {
    height: 550px;
    width: 550px;
    margin-top: 60px;
    margin-right: 90px;
}