.main-container
{
    width: 800px;
    height: 600px;
    display: flex;
    margin: 30px auto;
    border: 0.5px solid rgb(79, 7, 79);
    border-radius: 30px;
}
.left-container
{
    width: 300px;
    padding: 10px 100px;

}
h1
{
    font-size: 25px;
}
h3
{
    font-size: 20px;
}
h6{
    font-size: 15px;
}
.text-feild
{
    font-size: 20px;
    margin: 50px 0px;
    font-weight: bolder;
    color: rgb(44, 6, 80);
}
.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-with-icon img.icon {
    position: absolute;
    left: 10px;
    width: 24px; 
    height: 20px;
  }
  
.user-img
{
    height: 20px;
    width: 50px;
}
.user-container
{
    display: flex;
}
.email
{
    font-size: 15px;
    margin: 30px 0px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid purple;
    padding: 0px 40px;
}
.passw
{
    font-size: 15px;
    margin: 30px 0px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid purple;
    padding: 0px 40px;
}
.login-btn
{
    font-size: 20px;
    width: 220px;
    height: 30px;
    border-radius: 15px;
    background-color: #dab5e5;
    color: white;
    border: 0.5px solid rgb(79, 7, 79);
}
.right-container
{
    width:500px;
    background-color: #dab5e5;
    border-radius: 20px;
}
.image
{
    width: 300px;
    height: 340px;
    margin: 100px 30px;
}
.text
{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.last-line
{
    margin-top: 30px;
}